<config>
  <!-- Client Control -->
  <fold-anon v='true'/>

  <!-- Folding Slot Configuration -->
  <gpu v='%s'/>

  <!-- HTTP Server -->
  # Following allows access from local network
  <allow v='%s'/>

  <!-- Remote Command Server -->
  # Change password for remote access
  <password v='%s'/>

  <!-- User Information -->
  # Change Team Number and Username if desired. 
  <team v='%s'/> <!-- Your team number (Team UnRAID is # 227802)-->
  <user v='%s'/> <!-- Enter your user name here -->
  <passkey v='%s'/> <!-- 32 hexadecimal characters if provided (Get one here: http://fah-web.stanford.edu/cgi-bin/getpasskey.py)-->

  <!-- Web Server -->
  # Following allows access from local network
  <web-allow v='%s'/>

  <!-- CPU Use -->
  <power v='%s'/> 
  
  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>
</config>